<!DOCTYPE html>
<html>
  <head>
    <title>MySite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Jack Wilde</h1>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Projects', '#' %></li>
        <li><%= link_to 'Blog', '#' %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
